<script style='display: none;'>
    class PageLink {
        /** @type {string} */ rel_url
        /** @type {string} */ title
    }

    class IncludeParams {
        /** @type {PageLink} */ prev
        /** @type {PageLink} */ next
    }
</script>

<div class='d-flex flex-justify-around'>
    <!-- <div class='d-flex flex-justify-between'> -->
    <!-- <div class='d-flex flex-justify-end'> -->
    <a class='btn' href='{{ include.prev.rel_url }}'>Prev: {{ include.prev.title }}</a>
    <a class='btn' href='{{ include.next.rel_url }}'>Next: {{ include.next.title }}</a>
</div>